<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | enactus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet"> <!-- Animations -->
</head>
<body>

    <nav>
        <div class="logo">enactus<span>.</span></div>
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/team">Our Team</a></li>
            <li><a href="/events">Events</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/store">Store</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}
        
        {% endblock %}
    </main>

    <footer>
        <div class="container">
            <h2>enactus</h2>
            <p>Empowering action through entrepreneurship.</p>
            <br>
            <p>&copy; 2024 enactus Society. All Rights Reserved.</p>
        </div>
    </footer>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>
        AOS.init({
            duration: 1000,
            once: true
        });
    </script>
</body>
</html>